body {
	margin: 0;
	padding: 0;
	background: url("/images/fxg52upc.bmp") repeat;
	background-size: cover;
}

.content {
	padding: 25px;
	background-color: rgba(255, 255, 255, 0.777);
	border-radius: 15px;
}
